.full-page-loader {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .full-page-loader>img {
    animation: 1.8s infinite heartbeat;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(1.05);
    }

    50% {
      transform: scale(1);
    }

    75% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }


/* .loading{
    display: block;
    position: absolute;
    margin-top: 20px;
    height: 100%;
    top: 50%;
    left: 30%;
}

.logo-load{
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    padding: 0px 16px;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    animation: load 2s linear infinite;
}


  
@keyframes load{
    
    0% { 
        background-image: url(/static/img/colored-logo.svg) 
    }; 

    25%{ 
        background-image: url(/static/img/half-colored.svg);
        
    }
    50%{ 
        background-image: url(/static/img/blackndwhite.svg);
        
    }
    75%{ 
        background-image: url(/static/img/nullcolored.svg);
        
    }
    100% { 
        background-image: url(/static/img/colored-logo.svg);
    }
}

.logo-load:nth-child(2){
    animation-delay: 250ms
}

.logo-load:nth-child(3){
    animation-delay: 500ms
}

.logo-load:nth-child(4){
    animation-delay: 750ms
}

.logo-load:nth-child(5){
    animation-delay: 1000ms
}

 */
