.container_cards {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card_loader {
    overflow: hidden;
    background: white;
    border-radius: 0.25rem;
    width: 100%;
    transition: ease box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.08), 0 5px 25px 0 rgba(0, 0, 0, .08);
}

/* .card-detail {
    padding: 0.5rem 1rem;
} */

.card-detail h3 {
    font-size: 1.5rem;
    margin-bottom: none;
    line-height: 0.09;
}

.card-detail p {
    line-height: 1.3rem;
}

.card-loader-image {
    margin: 0;
    padding: 0;
    height: 150px;
    overflow: hidden;
    width: 100%;
}

.card-loader-image img {
    max-width: 100%;
    height: auto;
}

.loading {
    position: relative;
    background-color: #E2E2E2;
}

.loading.card-loader-image {
    border-radius: 0;
}

.loading::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.32), transparent);
    animation: loading 1.5s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.card-title.loading {
    height: 0.8rem;
    margin-top: 10px;
    border-radius: 2px;
}

.card-loader-image.image {
    max-width: 100%;
    height: auto;
}

.card-description.loading {
    height: 8px;
    border-radius: 2px;
}

.card-author.loading {
    height: 8px;
    width: 100px;
    border-radius: 2px;
}