.featured_card {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


.featured_card-title>a>h1 {
    color: black;
    font-size: calc(14px + 0.1vw);
    font-weight: 500;
    line-height: 2em;
}

.featured_card-desc>a>p {
    color: #707070;
    font-size: calc(12px + 0.2vw);
}

.author_name-editorpick>a>p {
    color: #707070;
    font-weight: 300;
    font-size: calc(12px + 0.1vw);
}