.btn_style{
    display: flex;
    background: #E68174;
    margin: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 5px;
    height: 40px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16)
}

.btn_style:hover{
    cursor: pointer;
}

.spinner_color{
    margin-top: 0px;
    margin-left: 18px;
    border: 2px solid white;
    border-top: 2px solid #e68074;
}