.Footer_section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    width: 100%;
    border: 1px solid grey;
    height: auto;
    background: black;
    color: white;
}


.footer_category {
    display: block;
    width: 100%;
    padding: 10px;
    height: auto;
    text-align: right;
}

.footer__ul {
    list-style: none;
    text-decoration: none;
    float: right;
}

.footer__ul--item {
    float: left;
    padding: 0px 1em;
}

.copyright_data {
    float: right;
    padding: 0px 1.5em
}